@import url('https://fonts.googleapis.com/css?family=Cormorant+Unicase:500&subset=cyrillic,cyrillic-ext');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

html{
	box-sizing:border-box;
}

*,
*::before, 
*::after{
	box-sizing: inherit;
}

body {
    color:  #555252;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;    
}


ul {
    margin: 0;
    padding: 0;
    list-style-type: none;    
}

header, .sub-footer {
    background-color: #222222;    
}

.menu-nav, .menu-user, .menu-logo {
    display: flex;
}
.menu-wrapper {
    margin: 0 auto;
    height: 81px;
    justify-content: space-around;
    /*align-items: center;*/
    /*max-width: 1608px;*/
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.menu-nav {
    /*max-width: 50%;*/
    flex-basis: 50%;
    flex-wrap:wrap;
}
.menu-logo, .menu-user{
    /*min-width: 25%;*/
    flex-basis: 25%;
    flex-wrap:wrap;
    
}

.menu-user {
    display: flex;
    align-items: flex-start;
}
.menu-logo .logo {
    color: #dddddd;
}
.logo {
    font-family: "Cormorant Unicase";
    font-size: 28px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.56px;
    text-decoration: none;
    display: block;
}
.menu-item a {
    color: #dddddd;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0.48px;
    display: block;
    padding: 5px 16px;
    text-transform: uppercase;
    text-decoration: none;
    position:relative;
}

.menu-item a:hover,
.menu-item a:focus {
    transition: 0.3s;
}

.menu-item a:hover:after,
.menu-item a:focus:after {
    width: 70%;
}

.menu-item a:after {
    background-color: #dddddd;
    display: block;
    content: "";
    height: 1px;
    width: 0%;
    left:50%;
    position:absolute;
    transition: width .3s ease-in-out;
    transform: translateX(-50%);
}

.title {
    margin: 0 auto;
    padding-top: 130px;
    padding-bottom: 76px;
    text-align: center;
}

.title-h1 {
    margin: 0 auto;
    padding-bottom: 37px;
    color: #000000;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0.72px;
    text-transform: uppercase;
}

.title-p {    
    margin: 0 auto;
    padding-bottom: 37px;
    color: #333333;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.32px;
}

.button {
    margin: 0 auto;
    width: 200px;
    height: 45px;
    display: block;
    background-color: #fff;
    text-decoration: none;
    user-select: none;
    outline: none;
    border: #626262 solid 1px;
    font-family: 'Roboto', sans-serif;
    transition: 0.2s;
    line-height: 60px;
    color: #333333;
    font-size: 12px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0.96px;
}

.button:hover,
.button:focus {
    background-color: #333333;
    color: #ffffff;
    cursor: pointer;
}

.main-wrapper {
    margin: 0 auto;    
    padding-bottom: 38px;
    display: flex;
    flex-wrap: wrap;
    max-width: 820px;
    justify-content: space-between;
}

.user-info {
    padding: 0;
    margin: 0;
    min-width: 210px;
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    flex-direction: column;
}

.name-where {
    margin: 0;
    padding-bottom: 15px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.96px;
    color: #333333;
    text-transform: uppercase;
}
.date {    
    margin: 0;
    padding-bottom: 15px;
    color: #bbbbbb;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0.48px;
    font-family: 'Roboto', sans-serif;
}
.order-submitted {    
    margin: 0;
    padding-bottom: 17px;
    color: #333333;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 1.08px;
    font-family: Roboto;
}

.reply-user {
    max-width: 600px;
    flex-grow: 3;
}
.reply-text p{
    padding-bottom: 30px;
    margin: 0;
    max-width: 600px;
    flex-wrap: wrap;
    /*flex-grow: 6;*/
    color: #444444;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 0.64px;
}
.reply-button a {
    text-decoration: none;
    user-select: none;
    border-bottom: none;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 0.64px;
    color: #f7807f;
    display: inline-block;
}

.reply-button a:hover,
.reply-button a:focus {
    color: #c94343;
}

.main-wrapper:not(:last-of-type) {
    margin: 43px auto 38px;
    border-bottom: 1px solid #bbbbbb;
}

.sub-main-wrapper {
    width: 94%;
    justify-content: flex-end;
    padding-top: 38px;
    display: flex;
    flex-wrap: wrap;
    margin: 38px 0 0 auto;
    border-top: 1px solid #bbbbbb;
}

/*STARS start*/
.star-rating{
    font-size: 0;
    font-family: 'Font Awesome 5 Free';
    font-weight: 400;
}
.star-rating__wrap{
	display: inline-block;
    font-size: 1rem;
    font-family: 'Font Awesome 5 Free';
    font-weight: 400;
}
.star-rating__wrap:after{
	content: "";
	display: table;
	clear: both;
}
.star-rating__ico{
	float: right;
	padding-left: 2px;
	cursor: pointer;
	color: #f7807f;;
}
.star-rating__ico:last-child{
	padding-left: 0;
}
.star-rating__input{
	display: none;
}
.star-rating__ico:hover:before,
.star-rating__ico:hover ~ .star-rating__ico:before,
.star-rating__input:checked ~ .star-rating__ico:before
{
	content: "\f005";
}
    /*STARS End*/

.sub-footer {
    height: 51px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
  }
  .pagination > li {
    display: inline;
  }
  .pagination > li > a,
  .pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #bbbbbb;
    text-decoration: none;
    background-color: #fff;
    /*border: 1px solid #ddd;*/
  }
  .pagination > li:first-child > a,
  .pagination > li:first-child > span {
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }
  .pagination > li:last-child > a,
  .pagination > li:last-child > span {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
  .pagination > li > a:hover,
  .pagination > li > span:hover,
  .pagination > li > a:focus,
  .pagination > li > span:focus {
    color: #333333;
    /*background-color: #eee;
    border-color: #ddd;*/
  }
  .pagination > .active > a,
  .pagination > .active > span,
  .pagination > .active > a:hover,
  .pagination > .active > span:hover,
  .pagination > .active > a:focus,
  .pagination > .active > span:focus {
    z-index: 2;
    color: #333333;
    cursor: default;
    /*background-color: #428bca;
    border-color: #428bca;*/
  }
  .pagination > .disabled > span,
  .pagination > .disabled > span:hover,
  .pagination > .disabled > span:focus,
  .pagination > .disabled > a,
  .pagination > .disabled > a:hover,
  .pagination > .disabled > a:focus {
    color: #777;
    cursor: not-allowed;
    background-color: #fff;
    border-color: #ddd;
  }
  .pagination-lg > li > a,
  .pagination-lg > li > span {
    padding: 10px 16px;
    font-size: 18px;
  }
  .pagination-lg > li:first-child > a,
  .pagination-lg > li:first-child > span {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
  }
  .pagination-lg > li:last-child > a,
  .pagination-lg > li:last-child > span {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
  }
  .pagination-sm > li > a,
  .pagination-sm > li > span {
    padding: 5px 10px;
    font-size: 12px;
  }
  .pagination-sm > li:first-child > a,
  .pagination-sm > li:first-child > span {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }
  .pagination-sm > li:last-child > a,
  .pagination-sm > li:last-child > span {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  } 

  .container {
      text-align: center;
  }
  
.footer-logo .logo {
    color: #333333;
}
.sub-footer-text {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color:  #777777;
    font-size: 12px;
    font-weight: 500;
    line-height: 21px;
    text-align: center;    
}

.sub-footer-text a {
    color:  #777777;
    display: inline-block;
    text-decoration: none;
}

.footer-wrapper {
    background-color: #efefef;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.footer-text {
    color: #333333;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 300;
    line-height: 21px;
    letter-spacing: 0.36px;
}

.footer-title {
    color: #000000;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.36px;
    margin: 0;
    padding: 0;
}
.footer-menu a {
    color: #333333;;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0.48px;
    display: block;
    padding: 5px 5px;
    text-decoration: none;
    position:relative;
}

.footer-menu a:hover,
.footer-menu a:focus {
    transition: 0.3s;
}

.footer-menu a:hover:after,
.footer-menu a:focus:after {
    width: 100%;
}

.footer-menu a:after {
    background-color: #333333;;
    display: block;
    content: "";
    height: 1px;
    width: 0%;
    left:50%;
    position:absolute;
    transition: width .3s ease-in-out;
    transform: translateX(-50%);
}

.footer-button {

}

.basket     {
    border: 1px solid #fff;
    margin: 0;
    padding: 0;width: 200px;
    height: 45px;
    background-color: #333333;
    color: #fff;
    font-family: OpenSans;
    font-size: 14px;
    font-weight: 400;
    line-height: 32px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    cursor:pointer;
    display: block;
    background: url(../img/narrow.png) no-repeat 15% 50%, url(../img/suscribe.png) no-repeat 75% 50%;
}